{% extends "layout.html" %}

{% block content%}

<h1>Ayuda</h1>

<section>
    <h2>¿Cómo participar en un quiz?</h2>
    <p>Para participar en un quiz, simplemente selecciona uno de los disponibles en la página principal. Asegúrate de
        leer las instrucciones antes de comenzar el quiz.</p>
</section>

<section>
    <h2>Preguntas frecuentes</h2>
    <ul>
        <li><strong>¿Cómo puedo ver mis resultados?</strong> Al finalizar un quiz, tus resultados aparecerán
            automáticamente en la pantalla. Puedes ver un resumen de tus respuestas y tu puntuación final.</li>
        <li><strong>¿Puedo volver a hacer un quiz?</strong> Sí, puedes volver a tomar un quiz tantas veces como desees,
            siempre que esté disponible en la plataforma.</li>
        <li><strong>¿Cómo sé si he respondido correctamente?</strong> Al finalizar, recibirás retroalimentación sobre
            las respuestas correctas e incorrectas junto con una explicación si está disponible.</li>
    </ul>
</section>

<section>
    <h2>Documentación</h2>
    <p>Si tienes alguna duda o problema, consulta la documentación en el siguiente enlace:</p>
    <p>Documentación: <a href="https://docs.google.com/document/d/1D8zizKR8l2EXeVsCLGp2ND9QjXY7KN2zn5UAn-e2Ad0/edit?usp=sharing">Aquí</a></p>
</section>

{% endblock%}