<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Quizzes Educativos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Quiz Educativo</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">🏠 Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('crearQuiz')}}">📝 Crear Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('GestionarQuizzes')}}">📚 Gestionar Quizzes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('ayuda')}}">❓ Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item {% if request.path == '/' %}active{% endif %}">
                <a href="/">Inicio</a>
                <a href="/"><i class="bi bi-house-door"></i></a>
            </li>

            {% if '/Crear-Quiz' in request.path or request.path == '/Gestionar-Quizzes' or request.path == '/Ayuda' %}
            <li class="breadcrumb-item {% if request.path == '/Crear-Quiz' %}active{% endif %}">
                <a href="/Crear-Quiz">Crear Quiz</a>
            </li>
            {% endif %}

            {% if request.path == '/Gestionar-Quizzes' or request.path == '/Ayuda' %}
            <li class="breadcrumb-item {% if request.path == '/Gestionar-Quizzes' %}active{% endif %}">
                <a href="/Gestionar-Quizzes">Gestionar Quizzes</a>
            </li>
            {% endif %}

            {% if request.path == '/Ayuda' %}
            <li class="breadcrumb-item active" aria-current="page">
                <a href="/Ayuda">Ayuda</a>
            </li>
            {% endif %}
        </ol>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>


    {% include 'footer.html' %}

</body>

</html>